/* ---- reset ---- */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* ---- typography ---- */

body {
    font-family: arcade-classic, Arial, Helvetica, sans-serif;
}

h1 {
    display: table;
    font-size: 100px;
    margin: 0 auto;
}

@font-face {
    font-family: arcade-classic;
    src: url(../fonts/ARCADECLASSIC.TTF);
}


/* ---- layout ---- */

body {
    margin-top: 100px;
    background-color: grey;
    color: #f9f9f9;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 640px;
    height: 480px;
    background-color: #FFA808;
}

.main-title {
    margin-bottom: 25px;
}


/* ---- components ---- */

button {
    border: none;
    padding: 15px 20px;
    background-color: #059E8E;
    color: white;
    font-family: arcade-classic, Arial, Helvetica, sans-serif;
}

.start-btn {
    display: table;
    margin: 0 auto;
}

.new-player {
    text-align: center;
    display: table;
    margin: 0 auto;
}

.new-player input {
    margin-bottom: 10px;
    display: block;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    /*  */
}

.main-game-buttons {
    width: 320px;
    height: 90px;
    background-color: #059E8E;
    line-height: 90px;
    font-size: 25px;
    text-align: center;
    border: 1px #FFA808 solid;
}
.skills-info {
    width: 320px;
    height: 90px;
    background-color: #059E8E;
    text-align: center;
    line-height: 30px;
    border: 1px #FFA808 solid;
}

.skills-info p {
    margin: 0px;
}

.sidebar {
    width:100px;
    padding-left: 5px;
    text-align: center;
}

.logo {
    align-self: center;
}

.topMenu {
    display:flex;
}

.centerMenu{
    display:flex;
    height: 210px;
}

.bottomMenu {
    display:flex;
    flex-wrap: wrap;
}

.background-filter {
    filter: blur(2px);
}

.modal {
    margin: 0 auto;
    background-color: #059E8E;
    height: 375px;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal button {
    background-color: #FFA808;
    margin: 10px auto 10px auto;
    
}

.modal button:disabled {
    background-color: grey;
}

.modal select {
    width: 200px;
    margin: 0 auto;
}

.new-project-name {
    width: 200px;
    margin: 10px auto;
}

.projectType {
    border: 1px white solid;
    height: 100px;
    width: 100px;
    line-height: 25px;
    margin: 0 5px;
}

.projectTypeSelect {
    display: flex;
    justify-content: center;
}

.selectedProject {
    background-color: #FFA808;
}